@model BoardGameWui.Models.PlayerModel
@{
    Layout = "~/Views/Shared/_Game.cshtml";
    ViewBag.Title = "Tic-Tac-Toe";
}

@if (TempData["notice"] != null)
{
    <h4>@Html.Raw(TempData["notice"])</h4>
}

<h2>@ViewBag.Title game</h2>
<p>
    Welcome to my Tic-Tac-Toe game. Play below with a friend and try get three in a row!<br />
    You need to play the game on the same computer; use two different browsers and play on one browser each.<br />
    Update the gameboard progress by updating the site (F5).<br />
</p>

@if (Model.Name == null)
{
    <h3>
        Join the game below<br />
    </h3>
    using (Html.BeginForm())
    {
        @Html.Label("Player name ")
        @Html.TextBox("Name")
        <button type="submit">Submit</button>
        <br /><br />
    }
}
else
{
    <input type="button" value="Leave game" onclick="location.href='@Url.Action("LeaveGame", Model)'" />
}
<input type="button" value="Reset game" onclick="location.href='@Url.Action("ResetGame")'" />