@model BoardGameWui.Models.GameSession
@{
    Layout = "~/Views/Shared/_Game.cshtml";
    ViewBag.Title = "TicTacToe Lobby";
}

@if (TempData["notice"] != null)
{
    <h4>@Html.Raw(TempData["notice"])</h4>
}

<h2>@ViewBag.Title</h2>
<p>
    Welcome to my Tic-Tac-Toe game! Join and play below with a friend and try get three in a row!<br /><br />
    You need to play the game on the same computer; use two different browsers and play on one browser each.<br />
    Update the game by refreshing the site (F5).<br />
</p>

@if (Model.PlayerName == null)
{
    <h3>Join the game below<br /></h3>
    using (Html.BeginForm("JoinLobby", "TicTacToe"))
    {
        @Html.Label("Player name ")
        @Html.TextBox("PlayerName")
        <button type="submit">Submit</button><br /><br />
    }
}
else
{
    <h3>Waiting for opponent to join<br /></h3>
    <input type="button" value="Leave game" onclick="location.href='@Url.Action("LeaveGame", new { Model.PlayerName })'" />
}
<input type="button" value="Reset game" onclick="location.href='@Url.Action("ResetGame")'" />